@import url('./styles/markdown-renderer.css');

html {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  min-height: 100vh;
}
