@import url('./styles/markdown-renderer.css');

html {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

body,
#root {
  height: auto;
  min-height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
}

#root {
  overflow-x: hidden;
  overflow-y: visible;
}

main {
  overflow: visible;
}
